*{
    padding:0;
    margin:0;
}

body{
background-color: aquamarine;
font-family: Georgia, 'Times New Roman', Times, serif;
border: 3px black;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    
}

.Links{
padding-left: 20%;
justify-content: space-around;
}


.sidebar{
    padding-top: 5%;
    height: auto;
    width: 200px;
    background-color: rgb(61, 181, 181);
    position: fixed;
    padding-top: 20px;
    z-index: 1;
    top: 8.3%;
    left: 0;
    border: 2px red;
    bottom: 10.2%;
    justify-content: space-around;
    }
    
.Hampter{
    
    width: 100px;
    height: 100px;
    border: 3px blueviolet solid;
    }



.Header{
height: 8.2vh;
width: 100vw;
background-color: rgb(177, 204, 207);
Display: flex;
position: absolute;
flex-direction: row;

}

.Logo{
    border: 3px blueviolet solid;
    position: relative;
    
}


.Navigation{
border: 3px blueviolet solid;
width: 95vw;
position: relative;

}

.Title {

    padding-top: 0%;
    font-size: 50;
}

.Points{

padding-top: 5%;
padding-bottom: 2%;

}

.Sub_title {
padding-top: 2%;
font-family: 'Times New Roman', Times, serif;
font-size: 24;

}

.Text{
    padding-top: 2%;
    position: relative;
    padding-right: 50%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20;
    padding-bottom: 2%;

}

.Maincontent{
padding-left: 220px;
scroll-padding-bottom: 0%;
padding-bottom: 100px;
padding-top: 5%;
}


.Title {

padding-top: 8%;
padding-bottom: 10%;
}

.Footer{

    height: 10vh;
    width: 100vw;
    bottom: 0;
    position: fixed;
    display: flex;
    background-color: antiquewhite;
scroll-padding-bottom: 0%;
    
}

.Copyright{

padding-top: 20px;

}

.Logo2{

    border: 3px blueviolet solid;
    position: fixed;
    bottom: 2;
    right: 20;

}